[MASTER]

# Rules reference:
# https://pylint.pycqa.org/en/latest/technical_reference/features.html
# Begins with the statements ignored by default
disable=print-statement,
        parameter-unpacking,
        unpacking-in-except,
        old-raise-syntax,
        backtick,
        long-suffix,
        old-ne-operator,
        old-octal-literal,
        import-star-module-level,
        non-ascii-bytes-literal,
        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        apply-builtin,
        basestring-builtin,
        buffer-builtin,
        cmp-builtin,
        coerce-builtin,
        execfile-builtin,
        file-builtin,
        long-builtin,
        raw_input-builtin,
        reduce-builtin,
        standarderror-builtin,
        unicode-builtin,
        xrange-builtin,
        coerce-method,
        delslice-method,
        getslice-method,
        setslice-method,
        no-absolute-import,
        old-division,
        dict-iter-method,
        dict-view-method,
        next-method-called,
        metaclass-assignment,
        indexing-exception,
        raising-string,
        reload-builtin,
        oct-method,
        hex-method,
        nonzero-method,
        cmp-method,
        input-builtin,
        round-builtin,
# TODO: Ignore docstrings temporarily
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
# Rules we ignore that are not ignored by default
        too-many-instance-attributes,
        too-many-return-statements,
        too-many-arguments,
        too-many-locals,
        too-many-branches,
        too-few-public-methods,
        too-many-public-methods,
        too-many-lines,
        no-self-use,
        fixme,
        unsupported-assignment-operation,  # Buggy with NewType objects
        unsubscriptable-object,  # Buggy with NewType objects
        no-member,  # Buggy with NewType objects
        consider-using-f-string,
        unspecified-encoding,
ignore=injected_glc_phosphorylation.py,
       ecoli_shape_deriver.py,
       injector.py,
       topology.py,
       make_network.py,
       pretty.py,
       glucose_phosphorylation.py,
       path.py,
       divide_condition.py,
       agents_multigen.py,
       exponential.py,
       burst.py,
       dict_utils.py,
       tree_mass.py,
       filepath.py,
       exchange_a.py,
       registry.py,
       units.py,
       datum.py,
       engulf.py,
       template_process.py,
       derive_counts.py,
       meta_division.py,
       remove.py,
       timeseries.py,
       simulation_output.py,
       swap_processes.py,
       schema.py,
       timeline.py,
       derive_concentrations.py,
       nonspatial_environment.py,
       store.py,
       wrappers.py,
       composition.py,
# Good variable names which should be accepted
good-names=pp,pf,_,

[BASIC]

no-docstring-rgx=(^_)|(^[Tt]est)
max-line-length=80
max-module-lines=1200
attr-rgx=^[a-z_][a-z0-9]*((_[a-z0-9]+)*)?$
variable-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$
argument-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$
include-naming-hint=yes
max-statements=65
max-nested-blocks=6
