[MASTER]

disable=print-statement,
        parameter-unpacking,
        unpacking-in-except,
        old-raise-syntax,
        backtick,
        long-suffix,
        old-ne-operator,
        old-octal-literal,
        import-star-module-level,
        non-ascii-bytes-literal,
        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        apply-builtin,
        basestring-builtin,
        buffer-builtin,
        cmp-builtin,
        coerce-builtin,
        execfile-builtin,
        file-builtin,
        long-builtin,
        raw_input-builtin,
        reduce-builtin,
        standarderror-builtin,
        unicode-builtin,
        xrange-builtin,
        coerce-method,
        delslice-method,
        getslice-method,
        setslice-method,
        no-absolute-import,
        old-division,
        dict-iter-method,
        dict-view-method,
        next-method-called,
        metaclass-assignment,
        indexing-exception,
        raising-string,
        reload-builtin,
        oct-method,
        hex-method,
        nonzero-method,
        cmp-method,
        input-builtin,
        round-builtin,
ignore=injected_glc_phosphorylation.py,
       injector.py,
       topology.py,
       make_network.py,
       pretty.py,
       glucose_phosphorylation.py,
       path.py,
       divide_condition.py,
       agents_multigen.py,
       experiment.py,
       burst.py,
       composition.py,
       dict_utils.py,
       control.py,
       emitter.py,
       tree_mass.py,
       filepath.py,
       process.py,
       exchange_a.py,
       registry.py,
       units.py,
       datum.py,
       engulf.py,
       template_process.py,
       derive_counts.py,
       meta_division.py,
       remove.py,
       timeseries.py,
       simulation_output.py,
       swap_processes.py,
       schema.py,
       timeline.py,
       agent_names.py,
       derive_concentrations.py,
       nonspatial_environment.py,

[BASIC]

no-docstring-rgx=(^_)|(^[Tt]est)
max-line-length=72
variable-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$
argument-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$
